*{
    margin:0% ;
    padding:0%;
    font-family: sans-serif;
}
.banner{
   
     width:85%;
     margin: auto;
     padding: 35px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.banner ul li{
   list-style: none;
    display: inline-block;
    margin: 0 150px;
    font-size: 35;
    justify-content: space-between;
    align-items: center;
}
.banner a{
    text-decoration: none;
}



